body {
  color: aliceblue;
  background-color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
nav {
  height: 40px;
  border-radius: 20px;
  padding: 10px;
}
nav ul {
  margin-top: 3px;
  display: flex;
  justify-content: space-around;
}

nav ul li {
  list-style-type: none;
}
nav ul li a {
  font-size: larger;
  color: white;
}
.btn {
  border: solid;
  padding: 5px;
  margin: 80px;
  background-color: blue;
  border-radius: 5px;
  color: aliceblue;
}
.container {
  border: groove rgb(31, 28, 31);
  border-radius: 15px;
  padding: 20px;
  min-height: 600px;
}
.row {
  min-height: 500px;
  display: flex;
  justify-content: space-around;
  border-top: solid #242323;
  border-bottom: solid #242323;
  border-radius: 30px;
  background-color: rgba(5, 5, 5, 0.986);
}
.row .tasksDivision {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.Msg-danger {
  background-color: #f0081449;
  font-size: 12;
}

.Msg-success {
  background-color: #0a583849;
  /* padding: 1rem; */
  font-size: 18px;
}
